@import '../../variables';
@import '../../../../common/mixins';


.navbarDesktop {
    padding: 10px 25px;

    position: relative;
    display: none;
}


.hamburgerIcon:hover {
    cursor: pointer;
}

.navItems {
    @include flex($direction: row);
}

.navItem {
    @include flex($align-items: center);
    gap: 15px;

    color: $mediumGray;
}

@media (min-width: 1440px) {
    .navbarDesktop {
        @include flex($direction: row, $justify-content: space-between);
    }

    .navItems {
        // @include flex($direction: row, $justify-content: space-between);
        // flex-direction: row;
    }



}