@import './variables';
@import './NavDesktop';
@import './NavMobile';
@import '../../common/mixins';

.pageContainer {
    @include font-face($introPage__font);
    min-height: $introPage__height;
    margin: $introPage__margin__y 0;

    border-bottom: 1px solid darkgray;

    overflow-x: hidden;

    position: relative;
}