@import './variables';
@import '../../common/mixins';

.navbarDesktop {
    @include flex($justify-content: space-between);
    padding: 10px 25px;

    position: relative;
    display: none;
}


.hamburgerIcon:hover {
    cursor: pointer;
}


.navItem {
    @include flex($align-items:center);
    gap: 15px;
    
    color: $mediumGray;
}

@media (min-width: 1440px) {
    .navbar {
        @include flex();
    }
}