@import '../../../../common/variables';
@import '../../variables';
@import '../../../../common/mixins';

.navbarMobile {
    @include flex($justify-content: space-between);

    padding: 10px 25px;

    position: relative;
}

.navbarDesktop {
    display: none;
}

.sideNav {
    @include font-face($introPage__font, $weight: 500, $size: 1.5rem);

    height: $sideNav__height;
    width: 50%;

    padding: $sideNav__padding__y calc($sideNav__padding__x + 50px) $sideNav__padding__y $sideNav__padding__x;

    background-color: $almostWhite;

    position: absolute;
    top: 0;
    right: -110%;
    z-index: 5;

}

.navItems {
    @include flex($direction: column);
    gap: 15px;

    width: 100%;
}

.sideNavBackdrop {
    height: $sideNav__height;
    width: 100%;

    padding: $sideNav__padding__y 0;

    background-color: $almostBlack;

    opacity: .6;

    position: absolute;
    top: 0;
    left: -110%;
    z-index: 1;

}

.navItem {
    @include flex($direction: column);
    color: $mediumGray;
}

.navItemContent {
    @include flex($align-items: center);
    gap: 10px;
}

.authLinks {
    @include flex($direction: column, $align-items: center);
    gap: 15px;

    width: 100%;
    margin-top: 15px;
}

.registerButton {
    @extend %button;
    width: 90%;
    color: $mediumGray;
}

@media (min-width: 768px) {
    .navbarMobile {
        display: none;
    }

    .sideNav {
        display: none;
    }

    .sideNavBackdrop {
        display: none;
    }

    .navbarDesktop {
        @include flex($align-items: center);
        padding: 0 25px;

        position: relative;
        top: 0;
        z-index: 5;

    }

    .brand {
        @include flex($align-items: center);

    }

    .navSections {
        @include flex($direction: row, $justify-content: space-between, $align-items: center);
        padding: 0 25px;
        width: 100%;

        // position: relative;
    }

    .navItems {
        @include flex($direction: row, $align-items: center);
        gap: 55px;

        // position: relative;
    }

    .navItem {
        max-width: 30%;
        position: relative;

        &:hover {
            cursor: pointer;
        }
    }

    .navItemActive {
        color: $almostBlack;
    }

    .navItemContent:hover {
        color: $almostBlack;
    }


    .authLinks {
        @include flex($direction: row, $justify-content: flex-end, $align-items: center);
        margin: 0;
        max-width: 20%;
    }

    .authLink {

        &:hover {
            cursor: pointer;
            color: $almostBlack;
        }
    }

    .registerButton {
        max-width: 50%;
    }
}